h1{
    margin-left: 15em;
    padding: 2em;
}

body{
    background-color: ivory;
    font-family: sans-serif;
    font-style: italic;
}

#box1{
    position: absolute;
    left: 2px;
    padding: 3em;
    
    
}

#box2{
    position: relative;
    left: 50%;
    width: 600px;
    margin-left: 3em;
}


